.cabecalho{
    width: 100%;
    height: 50px;
    background-color: black;
}

.sair{
    text-decoration: none;
    color:  white;
    position: absolute;
    top: 2%;
    left: 92%;
    font-size: 22px;
}

.sair:hover{
    color:  #6E6E6E;
}

.openbtn {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 3px 15px;
    border: none;
  }
  
  .sidebar {
    
    height: 100%;
    width: 0;
    background-color: #f5f5f5;
    position: fixed;
    overflow-x: hidden;
    transition: 0.3s;
    float: right;
  }
  
  .sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #818181;
  }
  
  .sidebar .closebtn {
    font-size: 26px;
    margin-left: 85%;
  }

.textoDash{
    text-align: center;
}

  /* Barra abaixo */

  .barra{
    background-color: black;     
    width: 100%;
    height: 3px;
}

/* Barra a cima */

/* Rodape abaixo */

.rodape{
    background-color: #f5f5f5;
    width: 100%;
    height: 100px;
}

.rodape ul{
    margin: 0 auto;
}

.rodape ul li{
    display: inline-block;
    text-decoration: none;  
}

.textoRodape{
    margin-left: 34px;
    font-size: 14px;
    margin-top: 41px;
}

.esquerdaCopy{
    margin-left: 92px;
}

.esquerdaR{
    margin-left: 144px;
}

.RSocial{
    height: 40px;
    padding-left: 2%;
}
/* Rodape a cima */